@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 2;
    color: #432;
    margin: 40px;
}

h2 {
    text-align: center;
}

.name{
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #aaa;
    margin-bottom: 6px;
}